<div class="p-5 bg-light">
  <div class="container">
    <h1 class="display-3">Page Not Found</h1>
    <p class="lead">404</p>
    <hr class="my-2" />
    <p>More info</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button"
        >Halaman Tidak Ditemukan</a
      >
    </p>
  </div>
</div>
