<div class="container-fluid pt-2 pb-2" style="background-color: #cecdcd">
  <div
    class="row-cols-6 d-flex flex-column justify-content-center align-items-center mt-4"
  >
    <div class="col-md-4 mb-3">
      <h3 class="text-center fw-bold">GET IN TOUCH</h3>
    </div>

    <div class="col-md-4 mb-3">
      <label for="input-name" class="form-label fw-bold">Name</label>
      <input
        type="text"
        class="form-control"
        id="input-name"
        placeholder="Input Your Name"
      />
    </div>

    <div class="col-md-4 mb-3">
      <label for="input-email" class="form-label fw-bold">Email</label>
      <input
        type="email"
        class="form-control"
        id="input-email"
        placeholder="name@example.com"
      />
    </div>

    <div class="col-md-4 mb-3">
      <label for="input-phone" class="form-label fw-bold">Phone Number</label>
      <input
        type="email"
        class="form-control"
        id="input-phone"
        placeholder="Input Your Number Phone"
      />
    </div>

    <div class="col-md-4 mb-3">
      <label for="input-option" class="form-label fw-bold">Subject</label>
      <select class="form-select" id="input-option">
        <option selected disabled>Choose Here</option>
        <option value="1">Fullstack</option>
        <option value="2">Frontend</option>
        <option value="3">Backend</option>
      </select>
    </div>

    <div class="col-md-4 mb-3">
      <label for="input-message" class="form-label fw-bold">Your Message</label>
      <textarea
        class="form-control"
        id="input-message"
        rows="3"
        placeholder="Input Your Messages"
      ></textarea>
    </div>

    <div class="col-md-4 d-flex justify-content-end">
      <button
        type="button"
        class="btn bg-black text-light rounded-pill pe-4 ps-4 pt-1 pb-1"
      >
        Primary
      </button>
    </div>
  </div>
</div>
