<!-- Awal Home -->
<div class="jumbotron d-flex">
  <div
    class="container mt-5 mb-5"
    style="
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    "
  >
    <div class="row p-5">
      <div class="col-lg-8">
        <div class="row">
          <h4 class="mt-5 mb-4">Hi, I am Ujang</h4>
        </div>

        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-lg">
            <p style="text-align: justify; box-sizing: border-box">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Provident quibusdam praesentium animi, amet alias iste, dicta
              nostrum quae asperiores nemo adipisci minima nulla libero
              veritatis repudiandae iusto dignissimos itaque voluptatum maxime
              necessitatibus expedita error voluptas! Ea perferendis numquam
              eaque? Dolorum et tenetur illo delectus recusandae ad ipsum
              assumenda numquam laudantium, aut est, exercitationem impedit
              placeat, deserunt reiciendis sapiente nobis. Nemo consectetur,
            </p>
          </div>
        </div>

        <div class="row mt-4 d-flex">
          <div class="col-3">
            <button
              class="btn rounded-pill text-white pt-2 pb-2 ps-4 pe-4 text-decoration-none"
              style="background-color: black"
            >
              <a
                href="/contact.html"
                target="_blank"
                rel="noopener noreferrer"
                class="text-decoration-none text-white"
              >
                Contact
              </a>
            </button>
          </div>

          <div class="col">
            <button class="btn" style="border: none">
              <a
                class="download-icon text-black"
                href="/public/assets/img/image.jpg"
                target="_blank"
                rel="noopener noreferrer"
                download=""
                style="text-decoration: none"
                >Download CV

                <span
                  class="iconify"
                  data-icon="akar-icons:download"
                  data-width="15"
                  data-height="15"
                ></span>
              </a>
            </button>
          </div>

          <div class="row mt-4">
            <div class="col-sm-1 mt-4 mb-4">
              <a
                href="https://www.linkedin.com/in/ujang-pudin-bb8717220/"
                target="_blank"
              >
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i> </span
              ></a>
            </div>

            <div class="col-sm-1 mt-4 mb-4">
              <a
                href="https://www.instagram.com/ujangpudin_up/"
                target="_blank"
              >
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-instagram fa-stack-1x fa-inverse"></i> </span
              ></a>
            </div>

            <div class="col-sm-1 mt-4 mb-4">
              <a
                href="https://id-id.facebook.com/ujang.remenin"
                target="_blank"
              >
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook fa-stack-1x fa-inverse"></i> </span
              ></a>
            </div>

            <div class="col-sm-1 mt-4 mb-4">
              <a href="https://twitter.com/Ujang_Pudin" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i> </span
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm justify-content-center align-items-center d-flex">
        <div class="card" style="max-width: 18rem; border-radius: 10px">
          <img
            src="/public/assets/img/profil.jpg"
            class="card-img-top"
            alt="Foto"
            style="border-radius: 10px 10px 0 0"
          />
          <div class="card-body">
            <h5
              class="card-title text-center fw-bold"
              style="box-sizing: border-box"
            >
              Ujang Pudin
            </h5>
            <p class="card-text text-center" style="box-sizing: border-box">
              Fullstack Developer
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Akhir Home -->

<%- include('card') %>
